
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
}

#img{ width: 40px;
      height: 40px;
}
button{
  position: absolute;
  right: 5%;
  padding: 5px;
    padding-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: -10px;
    background-color: skyblue;
}

.modulo{
  position: absolute;
  display:grid;
  width: 250px;
 height: 200px;
  right: 0px;
  top: 10%;
  background-color:aliceblue;
  margin-right: 3%;
  border-style:groove
}

#bottone{
  position: absolute;
  margin-top: 62%;
  margin-right: 53%;
}
#reg{
  position: absolute;
  margin-top: 62%;
  
}