
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
}

#img{ width: 40px;
      height: 40px;
}
button{
  position: absolute;
  right: 5%;
  padding: 5px;
    padding-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-top: -10px;
    background-color: skyblue;
}

.modulo{
  position: absolute;
  display:grid;
  width: 250px;
 height: 200px;
  right: 0px;
  top: 10%;
  background-color:aliceblue;
  margin-right: 3%;
  border-style:groove
}

#accedi{
  position: absolute;
  margin-top: 62%;
  margin-right: 53%;
}

#accedi{
  font-family: fantasy;
}

#primo{
  margin-top: 10px;
  margin-right: 120px;
  border-radius: 12% 4% ;
	font-family: fantasy;
	border-color:transparent;
  letter-spacing: 4px;
}


#secondo{
	border-radius: 12% 4% ;
	font-family: fantasy;
	border-color:transparent;
  letter-spacing: 4px;
  margin-top: 10px;
  
}

#form{position:absolute;
  display: grid;
width: 300px;
background-color: #fff;
   
border-radius: 3px;
box-shadow: 2px 2px 2px #ccc;
top:11%;
right:0;

}

#form2{position:absolute;
  display: grid;
width: 300px;
background-color: #fff;
   
border-radius: 3px;
box-shadow: 2px 2px 2px #ccc;
top:11%;
right:0;
}

#reg{
  position: absolute;
  margin-top: 162%;
  right: 5%;
  font-family: fantasy;
}

	

