
    <mat-toolbar color="primary">
      <img id="img" src="http://www.telestream.net/images/home/logo-product-wirecast.png">
      
      <span>TRAVELS</span>
      <div>
      <button id="bot" mat-button>LogIn</button>
   </div>
    </mat-toolbar>
    
    <span id="div">
        <form class="modulo" [formGroup]="mioForm">

            <mat-form-field class="example-full-width">
              <input matInput  placeholder="Nome" Name="nome">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" Name="password" > 
              </mat-form-field>
         <button id="bottone" mat-button>Accedi</button>
         <button id="reg" mat-button>Registrati</button>
           
        </form>
      </span>
      
    