<app-navbar></app-navbar>
<button id="rec" (click)="recupera_eventi()">Eventi</button>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>NOME EVENTO</th>
            <th>DATA EVENTO</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div>
    <button id="secondo" (click) = recuperaeventi2()>CLICCAMI</button>
    <table id="news">
      <thead>
          <tr>
              <th>titolo</th>
              <th>testata</th>
          </tr>
      </thead>
      
    </table>
  </div>