#rec{
    position: absolute;
    top: 10%;
    border-radius: 2px 2px 4px;
    
}
.table{
    position: absolute;
    top: 20%;
    border-style: solid;
}

#news{
    position: absolute;
    top: 50%;
    border-style: solid;
}
#secondo{
    position: absolute;
    top: 10%;
    left: 10%;
}